/* Animation */
@-webkit-keyframes serf_wave {
  0% { background-position: 0px top; }
  50% { background-position: 960px top; }
  100% { background-position: 0px top; } 
}

@-webkit-keyframes fish_swim_lr {
  0% { margin-left: -100px; margin-right: 0px; -webkit-transform: scaleX(1);}
  
  12.5% { margin-top: 20px; }
  25% { margin-top: 0px; }
  37.5% { margin-top: -20px; }
  
  49.99% { margin-left: 500px; margin-right: 0px; -webkit-transform: scaleX(1);}
  50% { margin-left: 500px; margin-right: 0px; -webkit-transform: scaleX(-1);}
  
  62.5% { margin-top: 20px; }
  75% { margin-top: 0px; }
  87.5% { margin-top: -20px; }
  
  100% { margin-left: -100px; margin-right: 0px; -webkit-transform: scaleX(-1);} 
}
@-webkit-keyframes fish_swim_rl {
  0% { margin-left: 300px; margin-right: 0px; -webkit-transform: scaleX(1);}
  
  12.5% { margin-top: 20px; }
  25% { margin-top: 0px; }
  37.5% { margin-top: -20px; }
  
  49.99% { margin-left: -300px; margin-right: 0px; -webkit-transform: scaleX(1);}
  50% { margin-left: -300px; margin-right: 0px; -webkit-transform: scaleX(-1);}
  
  62.5% { margin-top: 20px; }
  75% { margin-top: 0px; }
  87.5% { margin-top: -20px; }
  
  100% { margin-left: 300px; margin-right: 0px; -webkit-transform: scaleX(-1);}
}
@-webkit-keyframes flow {
  0% { margin-left: 0px; margin-bottom: 0px; }
  12.5% { margin-left: 3; margin-bottom: 3px; }
  25% { margin-left: 6; margin-bottom: 0px; }
  37.5% { margin-left: 3; margin-bottom: -3px;  }
  50% { margin-left: 0; margin-bottom: 0px; }        
  62.5% { margin-left: -3; margin-bottom: 3px; } 
  75% { margin-left: -6; margin-bottom: 0px; }
  87.5% { margin-left: -3; margin-bottom: -3px; }
  100% { margin-left: 0; margin-bottom: 0px; }
}


/* Main */
body {
  padding: 0;
  margin: 0;
}
#wrapper {
  width: 100%;
  height: 100%;
  /* position: relative; */
  overflow: hidden;
  min-height: 90px;
}
#water {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80%;
  background-image: url('/media/sea-repeat.png');
}

#serf {
  width: 100%;
  height: 100%;
  min-height: 265px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 90px;
  z-index: -1;
  background-image: url('/media/sea-upper.png');
  background-repeat: repeat-x;
  -webkit-animation: serf_wave 80s infinite ease-in-out;
}
#coral {
  position: absolute;
  width: 100%;
  height: 265px;
  bottom: 0;
  left: 0;
  background-image: url('/media/sea-under.png');
  background-repeat: repeat-x;
  background-position: center top;

}

.fish {
  position: absolute;
  width: 100%;
  bottom: 15px;
  height: 300px;
  z-index: 20;
  text-align: center;
}
.fish-shadow {
  z-index: -1;
}


/* Blue fish rl*/
#fish-item-1 {
  margin-left: 450px;
}
#fish1 {
  -webkit-animation: fish_swim_rl 33s infinite ease-in-out;
}

/* Green fish lr*/
#fish-item-2 {
  margin-left: -630px;
  margin-top: 20px;        
}
#fish2 {
  -webkit-animation: fish_swim_lr 25s infinite ease-in-out;
}

/* Pink fish rl*/
#fish-item-3 {
  margin-left: 50px;
  margin-top: -50px;
}
#fish3 {
  -webkit-animation: fish_swim_rl 22s infinite ease-in-out;
}

/* Shadow fish lr*/
#fish-item-4 {
  margin-left: -70%;
  margin-top: 30px;
}


/* Shadow fish rl*/
#fish-item-5 {
  margin-left: 45%;
  margin-top: 80px;
}


form#message-form,
.fish-shadow-wrapper {
  position: absolute;
  width: 100%;
  bottom: 50px;
  z-index: 20;
}


.form-container, 
.fish-shadow-container {
  margin: 0 auto;
  max-width: 726px;
  position:relative;
}

.fish-shadow-wrapper {
  z-index: 10;
}


@media all and (max-height: 170px) and (min-height: 0px) {
  form#message-form {
    bottom: 15%;
    height: 62px;
  }

}

@media all and (min-height: 171px) {
  form#message-form {
    height: 62px;
    -webkit-animation: flow 10s infinite ease-in-out;
  }
}

.form-wrapper {
  margin: 0 10px;
  position: relative;
  padding: 11px;
  border-radius:7px;
}
.gloomy-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0.47;
  z-index: -1;
}
.form-wrapper .gloomy-background {

  border-radius:7px;
  box-shadow:0px 0px 5px 1px #333;
  height: 82px;  
}

input#message {
  border-radius:5px; 
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow:1px 2px 6px 1px #333 inset;
  
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 120px 10px 15px;
  font-size: 23px;
  outline: none;
  z-index: 150;
  
        
  box-sizing: border-box;
  height: 62px;
  
}

input#submit {
  
   background: url('/media/btn-unpress.png');
   width: 111px;
   height: 60px;
   border: none;
   position: absolute;
   top: 12px;
   right: 11px;
   font-size: 20px;
   font-weight: bold;
   color: #454545;
}



.bubble {
  position: absolute;
  z-index: 200;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 0.8;
  color: #333333;
}
.bubble-inner {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
}
